@import url('https://fonts.googleapis.com/css2?family=Roboto+Sb&ladisplay=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Tajawal:wght@300&display=swap');
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #efecec;
    margin: 0 0;
}

header{
    background-color: #efecec;
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    position: fixed;
    top:0px;
    padding-top: 8px;
}

#nav-bar{
    float: right;
    word-spacing: 50px;
    padding: 30px 0;
}
.nav-link{
    text-decoration:none;
    color: black;
}

.nav-link:hover{
    color: #C9002B;
    transition: 0s color;
    transition-duration: 0.3s;
}

header p, #header-img{
    width: 70px;
    height: auto;
    float: left;
    font-size: 30px;
}

main{
    clear: both;
    font-size: 26px;
    height: auto;
    width: 100%;
    margin: 0;
}

.section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0px;
    
}

#intro{
    display: flex;
    justify-content:space-around;
    align-items:flex-start;
    margin-top: 0;
    padding-top: 90px;
}

#Title{
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
}

#About{
    font-family: 'Tajawal', sans-serif;
    line-height: 1.8;
    width: 80%;
}

#intro img{
    align-self: center;
    width: 20%;
    height: auto;
}

#Video{
    flex-wrap: wrap;
    justify-content: space-evenly;
    aspect-ratio: 2/1;
}

#Frizz{
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 140px;
    align-self: flex-start;
}

#contact{
    background-color: #004B93;
    padding: 10px 0;
    margin-top: 90px;
    height: auto;
    width: 100%;
    bottom: 0;
}   

#contact_details{
    justify-content: space-evenly;
    
}

#contact_details img{
    align-self:flex-start;  
    aspect-ratio: 1/1;
}

fieldset{
    border: 0;
    color: white;
    font-family: 'Roboto Slab', serif;
}

#email,#textarea{
    width: 300px;   
}
#email{
    height: 30px;
}
#textarea{
    margin: 10px 0;
}
#submit{
    position: relative;
    left: 90px;
    width: 120px;
    height: 40px;
    background-color: #2f5f8d;
    color: white;
    border: 1px solid white;
    border-radius: 30%;
    align-items: center;
}

#submit:hover{
    background-color: red;
}

#footer{
    margin: 0;
    padding: 0;
    background-color: #004B93;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#footer a
{
    text-decoration: none;
    color: rgb(49, 47, 47);
}

#footer a:hover{
    color:white;
    transition: 0s color;
    transition-duration: 0.5s;
}

@media screen and (max-width: 1140px) {
    #Frizz{
        font-size: 100px;
    }

    #Frizz img{
        width:70px;
        height: auto;
    }
}